

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('Open Sans Regular'), format('embedded-opentype'),
        url('../assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Semi Bold';
    src: local('Open Sans SemiBold'), local('Open Sans SemiBold'), format('embedded-opentype'),
        url('../assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
